<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="home_page">
        <table border="1">
            <thread>
                <th>id</th>
                <th>title</th>
                <th>content</th>
            </thread>
            {%for items in articles%}
            <tr>
                <td>{{items.id}}</td>
                <td>{{items.title}}</td>
                <td>{{items.content}}</td>
            </tr>
            {%endfor%}
        </table>
        <p>This is a home page</p>
        {% for item in articles %}
        <li>{{ item.title }}</li>
        {% endfor %}
    </div>
</body>

</html>